
.s-breadcrumb {
    padding-top: 30px;
    padding-bottom: 40px;

}
/*.bg-breadcrumb {*/
/*    background-image: url("/images/bg-breadcrumbs.png");*/
/*    background-repeat: no-repeat;*/
/*    !*background-size: 100%;*!*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*}*/
.breadcrumb-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    /*padding-top: 30px;*/
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.icon-right {
    margin: auto 8px;
}
.breadcrumbs-item {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.breadcrumbs-item a {
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.5;
    color: #333333;
}
.breadcrumbs-item a.active,.breadcrumbs-item a:hover{
    color: #A5A7B0 !important;
}
.breadcrumbs-item a.active{
    cursor: unset;
}
.breadcrumb-title {
    font-family: Exo2-700;
    font-size: 40px;
    line-height: 1.15;
    color: #333333;
    /*padding-top: 20px;*/
}

@media (max-width: 991.98px) {

    .breadcrumb-title {
        font-size: 28px;
    }
}
@media (max-width: 767.98px) {
    .breadcrumb-title {
        font-size: 22px;
    }
    .breadcrumb-items {
        padding-bottom: 15px;
    }
    .s-breadcrumb {
        margin-bottom: 20px;
    }
}
@media (max-width: 575.98px) {
    .breadcrumb-items {
        padding-bottom: 10px;
    }
    .breadcrumb-title {
        font-size: 18px;
    }
    .breadcrumbs-item a {
        font-size: 14px;
    }
    .s-breadcrumb {
        padding-bottom: 10px;
    }
}

@media (max-width: 400.98px) {
    .breadcrumb-items {
        flex-wrap: wrap;
    }
    .breadcrumbs-item a {
        font-size: 14px;
    }
}
