.s-cabinet {
    background-color: #f3f6ff;
    padding-bottom: 200px
}

.s-cabinet .title {
    margin-bottom: 40px;
    margin-top: 20px
}

.s-cabinet .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.s-cabinet .wrapper .cabinet-info {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05);
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 100%
}

.s-cabinet .wrapper .cabinet-info .mentor-block-user-name {
    align-items: flex-start;
    padding: 30px 30px 0;
    width: 100%
}

.s-cabinet .wrapper .cabinet-info .mentor-block-user-name .base-info {
    display: flex;
    flex-direction: row
}

.s-cabinet .wrapper .cabinet-info .mentor-block-user-name .base-info .user-image {
    border-radius: 50%;
    height: 92px;
    margin-right: 20px;
    width: 92px
}

.s-cabinet .wrapper .cabinet-info .mentor-block-user-name .base-info .user-image img {
    height: 92px;
    width: 92px
}

.s-cabinet .wrapper .cabinet-info .mentor-block-user-name .base-info .user-info .name {
    margin-bottom: 4px
}

.s-cabinet .wrapper .cabinet-info .mentor-block-user-name .base-info .user-info .city {
    margin-bottom: 8px
}

.s-cabinet .wrapper .cabinet-info .mentor-block-user-name .status-price-block {
    padding: 13px 20px
}

.s-cabinet .wrapper .cabinet-info .mentor-block-user-name .status-price-block .price {
    margin-left: unset
}

.s-cabinet .wrapper .cabinet-info .mentor-block-user-name .status-price-block .mentor {
    font-size: 14px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: flex-start;
}

.s-cabinet .wrapper .cabinet-info .mentor-block-user-name .status-price-block .mentor .status {
    font-size: 14px;

    border-radius: 100%;
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: #fff;
    margin: 0 10px;
}

.s-cabinet .wrapper .cabinet-info .mentor-block-user-name .status-price-block .price {
    font-size: 20px
}

.s-cabinet .wrapper .cabinet-info .mentor-statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px 15px
}

.s-cabinet .wrapper .cabinet-info .mentor-statistics .mentor-statistic-item {
    align-items: center;
    display: flex;
    flex-direction: row
}

.s-cabinet .wrapper .cabinet-info .mentor-statistics .mentor-statistic-item .count {
    align-items: center;
    background: #e5e6e9;
    border-radius: 50px;
    color: #333;
    display: flex;
    font-family: Helvetica-400;
    font-size: 20px;
    height: 44px;
    justify-content: center;
    line-height: 1.5;
    margin-right: 12px;
    min-height: 44px;
    min-width: 44px;
    width: 44px
}

.s-cabinet .wrapper .cabinet-info .mentor-statistics .mentor-statistic-item p {
    color: #65676e;
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.5;
    max-width: 190px
}

.s-cabinet .wrapper .cabinet-info .mentor-statistics .mentor-statistic-item:last-child {
    margin-right: unset
}

.s-cabinet .wrapper .cabinet-info .line {
    margin-bottom: 24px;
    margin-top: 30px
}

.s-cabinet .profile-menu-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 44px
}

.s-cabinet .profile-menu-items__menu-item {
    background: #fff url(/images/bg-card-profile-user.png) no-repeat 90%;
    background-position-y: 100%;
    background-size: 36%;
    border: 1px solid #e5e6e9;
    border-radius: 6px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    flex: 0 0 32%;
    height: 140px;
    margin: 1% 0;
    padding: 20px
}

.s-cabinet .profile-menu-items__menu-item .title {
    color: #333;
    font-family: Helvetica-400;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 1.2;
    margin-bottom: 8px;
    margin-top: unset;
    text-transform: uppercase
}

.s-cabinet .profile-menu-items__menu-item a {
    color: #325efb;
    font-family: Helvetica-400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 50px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.s-cabinet .profile-menu-items__menu-item:nth-child(3n-1) {
    margin-left: 2%;
    margin-right: 2%
}

.s-cabinet .profile-menu-items .bg-profile-card-calendar {
    background: #fff url(/images/bg-card-profile-calendar.png) no-repeat 90%;
    background-position-y: 100%;
    background-size: 36%
}

.s-cabinet .profile-menu-items .bg-profile-card-certificate {
    background: #fff url(/images/bg-card-profile-certificate.png) no-repeat 90%;
    background-position-y: 100%;
    background-size: 36%
}

.s-cabinet .profile-menu-items .bg-profile-card-megaphone {
    background: #fff url(/images/bg-card-profile-megaphone.png) no-repeat 90%;
    background-position-y: 100%;
    background-size: 36%
}

.s-cabinet .profile-menu-items .bg-profile-card-spec {
    background: #fff url(/images/bg-card-profile-spec.png) no-repeat 90%;
    background-position-y: 100%;
    background-size: 36%
}

.s-cabinet .profile-menu-items__menu-item-counter {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 15px
}

.s-cabinet .profile-menu-items__menu-item-counter p {
    color: #707378;
    font-family: Helvetica-400;
    font-size: 16px;
    line-height: 1.5;
    margin-right: 8px
}

.cabinet-sidebar {
    align-items: center;
    border: 1px solid #c3c8cc;
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 290px;
    padding: 25px 18px;
    text-align: center;
    width: 290px
}

.cabinet-sidebar .title {
    color: #333;
    font-family: Helvetica-400;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 1.2;
    margin-bottom: 12px;
    text-transform: uppercase
}

.cabinet-sidebar p {
    color: #707378;
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.5;
    text-align: center
}

.profile-progressbar {
    align-items: center;
    display: flex;
    height: 120px;
    justify-content: center;
    width: 120px
}

.profile-progressbar p .progress-percent {
    color: #90949a;
    font-family: Helvetica-400;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 8px
}

.profile-progressbar .progress-spinner {
    background: conic-gradient(#6e8dfc 80%, #dde4ff 90%);
    border-radius: 50%;
    height: 120px;
    width: 120px
}

.profile-progressbar .middle-circle {
    align-items: center;
    background-color: #f3f6ff;
    border-radius: 50%;
    color: #65676e;
    display: flex;
    font-family: Exo2-700;
    font-size: 24px;
    height: 85px;
    justify-content: center;
    line-height: 115%;
    position: absolute;
    text-align: center;
    width: 85px
}

.mini-profile-progressbar {
    align-items: center;
    display: flex
}

.mini-profile-progressbar .progress-percent {
    color: #90949a;
    font-family: Helvetica-400;
    font-size: 16px
}

.mini-profile-progressbar .profile-progressbar {
    height: 28px;
    margin-right: 8px;
    width: 28px
}

.mini-profile-progressbar .profile-progressbar .progress-spinner {
    height: 28px;
    width: 28px
}

.mini-profile-progressbar .profile-progressbar .middle-circle {
    height: 20px;
    width: 20px
}

.s-about-me-page {
    background-color: #f3f6ff;
    padding-bottom: 80px
}

.s-about-me-page .title {
    padding-bottom: 40px;
    padding-top: 20px
}

.s-about-me-page .about-me {
    align-items: flex-start;
    display: flex;
    flex-direction: row
}

.s-about-me-page .about-me .empty {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center
}

.s-about-me-page .about-me .empty .text {
    color: #919191;
    font-family: Helvetica-400;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 24px
}

.s-about-me-page .about-me .empty button {
    font-family: Helvetica-400;
    font-size: 15px
}

.s-about-me-page .about-me .favorites-mentors .btn-load-more {
    margin-top: 40px
}

.s-about-me-page .about-me .btn-add-certification {
    font-family: Helvetica-400;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 40px
}

.s-about-me-page .about-me .btn-add-certification svg {
    margin-left: 14px
}

.s-about-me-page .about-me .certification-items {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.s-about-me-page .about-me .certification-items .mb-title {
    color: #a5a7b0;
    font-family: Helvetica-400;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px
}

.s-about-me-page .about-me .certification-items .certification-item {
    background: #f5f5f5;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    padding: 20px
}

.s-about-me-page .about-me .certification-items .certification-item .left .name {
    color: #333;
    font-family: Helvetica-400;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 7px
}

.s-about-me-page .about-me .certification-items .certification-item .left .description {
    color: #65676e;
    font-family: Helvetica-400;
    font-size: 12px;
    line-height: 1.5
}

.s-about-me-page .about-me .certification-items .certification-item .right {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.s-about-me-page .about-me .certification-items .certification-item .right a, .s-about-me-page .about-me .certification-items .certification-item .right button {
    font-size: 15px;
    height: 40px;
    line-height: 1.2
}

.s-about-me-page .about-me-form {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05);
    margin-right: 20px;
    padding: 40px;
    width: 100%
}

.s-about-me-page .about-me-form label {
    flex-basis: 50%;
    align-items: center;
    color: #333;
    display: flex;
    font-family: Helvetica-400;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px
}

.s-about-me-page .about-me-form label .dropdown-menu {
    margin-left: 5px
}

.s-about-me-page .about-me-form .dropdown-document-help:hover .dropdown-document-help-content, .s-about-me-page .about-me-form .dropdown-help-info:hover .dropdown-help-info-content, .s-about-me-page .about-me-form .dropdown-skills-info:hover .dropdown-skills-info-content, .s-about-me-page .about-me-form .dropdown-spec-info:hover .dropdown-spec-info-content {
    display: block
}

.s-about-me-page .about-me-form .dropdown-menu {
    top: 0
}

.s-about-me-page .about-me-form .dropdown-menu .dropdown-content {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .05);
    color: #65676e;
    font-family: Helvetica-400;
    font-size: 12px;
    left: 0;
    line-height: 1.5;
    padding: 10px 10px 6px
}

.s-about-me-page .about-me-form .dropdown-about-me:hover .dropdown-about-me-content {
    display: block
}

.s-about-me-page .about-me-form .btn-default, .s-about-me-page .about-me-form button {
    cursor: pointer;
    font-family: Helvetica-400;
    font-size: 17px
}

.s-about-me-page .about-me-form .service-price {
    transition: all .3s ease 0s
}

.s-about-me-page .about-me-form .form-group {
    margin-bottom: 40px
}

.s-about-me-page .about-me-form .form-group .input-default, .s-about-me-page .about-me-form .form-group .select-default {
    width: 48%
}

.s-about-me-page .about-me-form .form-group span.info {
    color: #333;
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px
}

.s-about-me-page .about-me-form .form-group .textarea-default {
    width: 100%
}

.s-about-me-page .about-me-form .form-group .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.s-about-me-page .about-me-form .form-group .inputs input:nth-child(2n) {
    margin-left: 20px
}

.s-about-me-page .about-me-form .form-group .head {
    margin-bottom: 20px
}

.s-about-me-page .about-me-form .form-group .head label {
    margin-bottom: unset
}

.s-about-me-page .about-me-form .form-group .head .delete-text {
    align-items: center;
    color: #e40904 !important;
    display: flex;
    font-family: Helvetic-400;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 1.2
}

.s-about-me-page .about-me-form .form-group .head .delete-text svg {
    margin-right: 8px
}

.s-about-me-page .about-me-form .form-group .warning-text {
    margin-top: 40px
}

.s-about-me-page .about-me-form .form-group .warning-text, .s-about-me-page .about-me-form .form-group .warning-text a {
    color: #333;
    cursor: pointer;
    font-family: Helvetica-400;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 1.2
}

.s-about-me-page .about-me-form .form-group .warning-text a {
    color: #e40904
}

.s-about-me-page .about-me-form .form-group .spec-items {
    display: flex
}

.s-about-me-page .about-me-form .form-group .spec-items .input-items:first-child {
    margin-right: 35px
}

.s-about-me-page .about-me-form .form-group .input-items {
    display: flex;
    flex-wrap: wrap;
}

.s-about-me-page .about-me-form .form-group .switch-default-input {
    display: flex;
    height: 24px;
    position: relative;
    width: 46px
}

.s-about-me-page .about-me-form .form-group .switch-default-input input {
    height: 0;
    opacity: 0;
    width: 0
}

.s-about-me-page .about-me-form .form-group .switch-default-input .slider {
    background-color: #b3bcc5;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s
}

.s-about-me-page .about-me-form .form-group .switch-default-input .slider:before {
    background: #fff;
    bottom: 2px;
    content: "";
    height: 20px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 20px
}

.s-about-me-page .about-me-form .form-group .switch-default-input input:checked + .slider {
    background-color: #d6fffe
}

.s-about-me-page .about-me-form .form-group .switch-default-input input:focus + .slider {
    box-shadow: 0 0 1px #d6fffe
}

.s-about-me-page .about-me-form .form-group .switch-default-input input:checked + .slider:before {
    background-color: #1dc0bd;
    transform: translateX(20px)
}

.s-about-me-page .about-me-form .form-group .switch-default-input .slider.round {
    border-radius: 34px
}

.s-about-me-page .about-me-form .form-group .switch-default-input .slider.round:before {
    border-radius: 50%
}

.s-about-me-page .about-me-form .form-group .switch-default-input .text {
    color: #65676e;
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.5;
    margin-left: 60px
}

.s-about-me-page .about-me-form .form-group .buttons {
    align-items: center;
    display: flex;
    gap: 20px
}

.s-about-me-page .about-me-form .form-group .buttons a, .s-about-me-page .about-me-form .form-group .buttons button {
    height: 56px
}

.s-about-me-page .about-me-form .btn-upload-file {
    align-items: center;
    color: #1dc0bd;
    display: flex;
    font-family: Helvetica-400;
    font-size: 24px;
    height: 50px;
    justify-content: center;
    line-height: 1.5;
    margin-bottom: 50px;
    white-space: nowrap;
    width: 280px
}

.s-about-me-page .about-me-form .btn-upload-file:focus, .s-about-me-page .about-me-form .btn-upload-file:hover {
    background-color: #05bcb9;
    border-radius: 6px;
    color: #fff;
    padding: 10px
}

.s-about-me-page .about-me-form .btn-upload-file:focus svg path, .s-about-me-page .about-me-form .btn-upload-file:hover svg path {
    fill: #fff
}

.s-about-me-page .about-me-form .line {
    margin-bottom: 30px;
    margin-top: 40px
}

.s-about-me-page .about-me-form .change-email-notification .text {
    color: #65676e;
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.5
}

.s-about-me-page .about-me-form .change-email-notification .text a {
    color: #1dc0bd;
    font-family: Helvetica-400;
    font-size: 18px;
    line-height: 1.5;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline
}

.s-about-me-page .about-me-form .success-info-btn {
    align-items: center;
    color: #0cbd82;
    display: flex;
    font-family: Helvetica-400;
    font-size: 18px;
    justify-content: center;
    letter-spacing: .02em;
    line-height: 1.2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center
}

.s-about-me-page .about-me-form .success-info-btn svg {
    margin-right: 8px
}

.s-about-me-page .about-me-form .photo-form-group .photo {
    display: flex;
    flex-direction: row
}

.s-about-me-page .about-me-form .photo-form-group .photo img {
    border-radius: 50%;
    height: 90px;
    margin-right: 25px;
    max-height: 90px;
    max-width: 90px;
    width: 90px
}

.s-about-me-page .about-me-form .photo-form-group .photo .buttons {
    display: flex;
    flex-direction: column
}

.s-about-me-page .about-me-form .photo-form-group .photo .buttons .info-text {
    color: #a5a7b0;
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 14px
}

.s-about-me-page .about-me-form .photo-form-group .photo .buttons .info-text svg {
    height: 20px;
    margin-right: 8px;
    width: 20px
}

.s-about-me-page .about-me-form .skill-items {
    margin-top: 24px
}

.s-about-me-page .about-me-form .skill-items .skill-item {
    color: #333;
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.3;
    padding: 7.5px 11.5px
}

.s-about-me-page .about-me-form .skill-items .skill-item svg {
    cursor: pointer;
    margin-left: 9px
}

.s-about-me-page .about-me-form .category-tabs {
    margin-bottom: 36px;
    padding-top: 11px
}

.s-about-me-page .about-me-form .review-items .line {
    margin-bottom: 30px;
    margin-top: 30px
}

.s-about-me-page .about-me-form .btn-load-more {
    margin-top: 45px
}

.s-about-me-page .about-me-form-certifications {
    margin-right: unset
}

.s-about-me-page .about-right-certifications {
    margin-left: 20px
}

.s-about-me-page .cabinet-sidebar {
    margin-top: 30px
}

.s-about-me-page .empty-favorites {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    text-align: center
}

.s-about-me-page .empty-favorites h4 {
    color: #333;
    font-family: Exo2-700;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px
}

.s-about-me-page .empty-favorites p {
    color: #515461;
    font-family: Helvetic-400;
    font-size: 16px;
    line-height: 1.5
}

.s-about-me-page .empty-favorites .btn-default {
    font-family: Helvetica-400;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 40px
}

.alert-verify-email {
    padding-bottom: 16px;
    padding-top: 16px
}

.alert-verify-email__block {
    align-items: center;
    display: flex;
    gap: 30px;
    justify-content: space-between
}

.alert-verify-email__block .text {
    font-family: Helvetica-400;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 12px
}

.alert-verify-email__block .text a {
    color: #1dc0bd;
    cursor: pointer;
    margin-left: 15px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    white-space: nowrap
}

.alert-verify-email__block .text a:hover {
    color: #1dc0bd
}

.alert-verify-email .btn-default {
    font-family: Helvetica-400;
    font-size: 18px;
    line-height: 150%
}

.alert-verify-email__body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px
}

.alert-verify-email__body .verify-email-success {
    height: 167px;
    width: 167px
}

.alert-verify-email__body .title {
    color: #333;
    font-family: Helvetica-400;
    font-size: 24px;
    line-height: 130%;
    margin-bottom: 20px;
    text-align: center;
    width: 50%
}

.alert-verify-email__body .btn-default {
    font-family: Helvetica-400;
    font-size: 18px;
    line-height: 150%
}

.warning-verify-email {
    background: #ffefd6
}

.warning-verify-email .alert-verify-email__block .text {
    color: #f50
}

.success-verify-email {
    background: #ddfdf2
}

.success-verify-email .alert-verify-email__block {
    justify-content: center
}

.success-verify-email .alert-verify-email__block .text {
    align-items: center;
    color: #0cbd82;
    display: flex
}

.success-verify-email .alert-verify-email__block .text svg {
    margin-right: 10px
}

.success-verify-email .alert-verify-email__block .text svg path {
    fill: #0cbd82
}
