

@font-face {
    src: url("/fonts/Gilroy-Light.ttf") format('opentype');;
    font-family: Gilroy-300;
    font-style: normal;
}
@font-face {
    src: url("/fonts/Gilroy-Regular.ttf") format('opentype');;
    font-family: Gilroy-400;
    font-style: normal;
}

@font-face {
    src: url("/fonts/Gilroy-Medium.ttf") format('opentype');;
    font-family: Gilroy-500;
    font-style: normal;
}

@font-face {
    src: url("/fonts/Gilroy-Semibold.ttf") format('opentype');;
    /*src: url("/fonts/Gilroy-Semibold.ttf");*/
    font-family: Gilroy-600;
    font-style: normal;
}
@font-face {
    src: url("/fonts/Gilroy-Bold.ttf") format('opentype');;
    font-family: Gilroy-700;
    font-style: normal;
}

@font-face {
    src: url("/fonts/Gilroy-ExtraBold.ttf") format('opentype');;
    font-family: Gilroy-800;
    font-style: normal;
}


@font-face {
    src: url("/fonts/Gilroy-Black.ttf") format('opentype');;
    font-family: Gilroy-900;
    font-style: normal;
}

@font-face {
    src: url("/fonts/Roboto-Light.ttf") format('opentype');;
    font-family: Helvetica-300;
    font-style: normal;
}
@font-face {
    src: url("/fonts/Roboto-Regular.ttf") format('opentype');;
    font-family: Helvetica-400;
    font-style: normal;
}

@font-face {
    src: url("/fonts/Roboto-Medium.ttf") format('opentype');;
    font-family: Helvetica-500;
    font-style: normal;
}

@font-face {
    src: url("/fonts/Gilroy-Semibold.ttf") format('opentype');;
    /*src: url("/fonts/Gilroy-Semibold.ttf");*/
    font-family: Helvetica-600;
    font-style: normal;
}

@font-face {
    src: url("/fonts/Roboto-Bold.ttf") format('opentype');;
    font-family: Helvetica-700;
    font-style: normal;
}


@font-face {
    src: url("/fonts/Roboto-Bold.ttf") format('opentype');;
    font-family: Helvetica-800;
    font-style: normal;
}

@font-face {
    src: url("/fonts/Roboto-Black.ttf") format('opentype');;
    font-family: Helvetica-900;
    font-style: normal;
}

/*@font-face {*/
/*    src: url("/fonts/Helvetica-Light.ttf") format('opentype');;*/
/*    font-family: Helvetica-300;*/
/*    font-weight: 300;*/
/*    font-style: normal;*/
/*}*/

/*@font-face {*/
/*    src: url("/fonts/Helvetica.ttf") format('opentype');;*/
/*    font-family: Helvetica-400;*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*}*/

/*@font-face {*/
/*    src: url("/fonts/Helvetica-Bold.ttf") format('opentype');;*/
/*    font-family: Helvetica-700;*/
/*    font-style: normal;*/
/*}*/
@font-face {
    src: url("/fonts/Exo2-Bold.ttf") format('opentype');;
    font-family: Exo2-700;
    font-weight: bold;
}
h1, h2, h3, h4, h5, p {
    margin: 0;
}

body {
    font-family: Helvetica-400;
}
