section .head {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px
}

.s-start-growing {
    background-image: url(/images/banner-start-growing.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 185px;
    padding-top: 200px;
    width: 100%
}

.s-start-growing h2 {
    color: #333;
    font-family: Exo2-700;
    font-size: 52px;
    line-height: 1.1;
    margin-bottom: 60px
}

.s-start-growing h2 span {
    color: #333;
    font-family: Exo2-700;
    font-size: 30px
}

.s-start-growing .buttons {
    display: flex;
    flex-direction: row
}

.s-start-growing .buttons .btn-default, .s-start-growing .buttons .btn-white-blue {
    margin-right: 48px
}

.s-start-growing .buttons .btn-default:last-child {
    margin-right: unset
}

.s-info {
    padding-bottom: 30px;
    padding-top: 100px
}

.s-info .info {
    background-image: url(/images/bg-info.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px 70px;
    width: 100%
}

.s-info .info .logo {
    margin-bottom: 25px
}

.s-info .info p {
    color: #333;
    font-family: Helvetica-400;
    font-size: 24px;
    line-height: 1.1
}

.s-famous-people-info {
    padding-bottom: 50px;
    padding-top: 30px
}

.s-famous-people-info .title {
    margin-bottom: 30px
}

.s-famous-people-info .famous-people {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.s-famous-people-info .famous-people .famous-people-card {
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 30%
}

.s-famous-people-info .famous-people .famous-people-card img {
    height: auto;
    width: 100%
}

.s-famous-people-info .famous-people .famous-people-card .info {
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05);
    color: #65676e;
    font-family: Helvetica-400;
    font-size: 16px;
    line-height: 1.5;
    padding: 27px 28px 33px
}

.s-famous-people-info .famous-people .famous-people-card .info .name {
    color: #333;
    font-family: Helvetica-400;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5
}

.s-famous-people-info .famous-people .famous-people-card:last-child {
    margin-right: unset
}

.s-consultants, .s-mentors {
    padding-bottom: 50px;
    padding-top: 50px
}

.s-consultants .title {
    margin-bottom: 40px
}

.s-does-work {
    padding-bottom: 50px;
    padding-top: 80px
}

.s-does-work .title {
    margin-bottom: 44px;
    text-align: center
}

.s-does-work .default-tabs {
    justify-content: center
}

.s-does-work .default-tabs__default-tab {
    align-items: center;
    color: #1dc0bd;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 220px
}

.s-does-work .work-step {
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    padding-top: 100px;
    display: none;
}

.s-does-work .work-step.work-step__active {
    display: flex;
}

.s-does-work .work-step .step-item {
    align-items: center;
    display: flex;
    flex-direction: column
}

.s-does-work .work-step .step-item p {
    color: #333;
    font-family: Helvetica-400;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 40px;
    text-align: center
}

.s-does-work .work-step .rb-arrow, .s-does-work .work-step .rt-arrow {
    height: auto;
    max-width: 212px;
    width: 100%
}

.s-does-work .work-step .rb-arrow img, .s-does-work .work-step .rt-arrow img {
    height: auto;
    width: 100%
}

.s-does-work .work-step .rb-arrow {
    margin-left: 50px;
    margin-top: 70px
}

.s-does-work .work-step .step-2 {
    margin-top: 80px
}

.s-does-work .work-step .rt-arrow {
    margin-top: 41px
}

.s-does-work .work-step .step-5 {
    margin-top: 5px
}

.s-does-work .buttons {
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center
}

.s-start {
    padding-bottom: 50px;
    padding-top: 50px
}

.s-start .title {
    margin-bottom: 16px;
    text-align: center
}

.s-start .become-info-items {
    display: flex;
    flex-direction: column
}

.s-start .become-info-items .become-info-item {
    display: flex
}

.s-start .become-info-items .become-info-item .image, .s-start .become-info-items .become-info-item .info {
    width: 50%
}

.s-start .become-info-items .become-info-item .image img {
    height: 100%;
    width: 100%
}

.s-start .become-info-items .become-info-item .info {
    padding: 48px 50px 13px 60px
}

.s-start .become-info-items .become-info-item .info .title {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px
}

.s-start .become-info-items .become-info-item .info .title button {
    border-radius: 2px;
    height: 44px;
    width: 46px
}

.s-start .become-info-items .become-info-item .info .title h4 {
    color: #1dc0bd;
    font-family: Exo2-700;
    font-size: 24px;
    line-height: 1.15
}

.s-start .become-info-items .become-info-item .info ul {
    list-style-position: outside;
    list-style: outside
}

.s-start .become-info-items .become-info-item .info ul li {
    color: #65676e;
    font-family: Helvetica-400;
    font-size: 18px;
    line-height: 1.5
}

.s-start .become-info-items .become-info-item-mentor .info {
    padding-top: 65px
}

.s-start .become-info-items .become-info-item-consultant {
    margin-top: -29px
}

.s-start .become-info-items .become-info-item-consultant .info {
    margin-top: 21px
}

.s-start .become-info-items .become-info-item-child .info {
    margin-bottom: 20px
}

.s-spec {
    background-image: url(/images/bg-spec.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    padding-top: 50px
}

.s-spec .title {
    color: #fff;
    margin-bottom: 57px;
    text-align: center
}

.s-spec .spec-group-items {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px
}

.s-spec .spec-group-items .spec-group-item {
    cursor: pointer;
    margin-right: 20px;
    position: relative;
    width: 24%
}

.s-spec .spec-group-items .spec-group-item img {
    height: auto;
    width: 100%
}

.s-spec .spec-group-items .spec-group-item p {
    color: #fff;
    font-family: Exo2-700;
    font-size: 20px;
    left: 0;
    line-height: 1.15;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 30%
}

.s-spec .spec-group-items .spec-group-item:hover {
    box-sizing: border-box;
    margin-top: -10px;
    scroll-behavior: smooth;
    transition: all .3s ease 0s
}

.s-spec .spec-group-items .spec-group-item:last-child {
    margin-right: unset
}

.s-spec .spec-group-items-spec {
    display: flex;
    justify-content: space-between
}

.s-spec .spec-group-items-spec .spec-items:last-child {
    margin-right: unset
}

.s-spec .spec-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 20px;
    width: 24%
}

.s-spec .spec-items .spec-item {
    color: #05bcb9;
    font-family: Helvetica-300;
    font-size: 20px;
    height: 70px;
    line-height: 1.5;
    margin-bottom: 16px;
    position: relative;
    text-align: center;
    width: 100%
}

.s-reviews {
    padding-bottom: 50px;
    padding-top: 120px
}

.s-reviews .title {
    margin-bottom: 65px
}

.s-blog {
    padding-bottom: 50px;
    padding-top: 50px
}

.s-blog .head {
    margin-bottom: 60px
}

.s-blog .post-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start
}

.s-blog .post-items .post-item {
    flex: 0 0 30%;
    margin: 1% 2% 30px;
    max-width: 350px
}

.s-blog .post-items .post-item:last-child {
    margin-right: unset
}

.s-question-answers {
    padding-bottom: 50px
}

.s-question-answers .title {
    margin-bottom: 60px;
    text-align: center
}

.s-question-answers .question-answer-block {
    display: flex;
    justify-content: center
}

.s-question-answers .question-answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%
}

.s-question-answers .accordion-block:last-child {
    margin-bottom: unset
}

.s-write-to-us {
    background-image: url(/images/bg-questions.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    padding-top: 96px;
    position: relative
}

.s-write-to-us .title {
    color: #fff;
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 10px
}

.s-write-to-us .btn-default-shadow {
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 0 20px 24px rgba(0, 153, 102, .3);
    box-sizing: border-box
}

.s-write-to-us .btn-default-shadow:hover {
    background: #fff;
    box-shadow: unset;
    color: #05bcb9
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px
}

.pagination .next, .pagination .page-number, .pagination .prev {
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    width: 36px
}

.pagination .prev {
    margin-right: 20px
}

.pagination .next {
    margin-left: 20px
}

.pagination .next:hover, .pagination .prev:hover {
    background: #1dc0bd
}

.pagination .next:hover svg path, .pagination .prev:hover svg path {
    fill: #fff
}

.pagination .page-numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap
}

.pagination .page-numbers .active {
    background: #1dc0bd !important;
    color: #fff !important
}

.pagination .page-numbers .page-number {
    background: transparent;
    border: 1px solid #1dc0bd;
    color: #1dc0bd;
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.5;
    margin-right: 8px
}

.pagination .page-numbers .page-number:hover {
    background: #1dc0bd;
    color: #fff
}

.pagination .page-numbers .page-number:last-child {
    margin-right: unset
}

.info-title {
    font-size: 24px
}

.info-description, .info-title {
    color: #333;
    font-family: Helvetica-400;
    line-height: 1.5
}

.info-description {
    font-size: 17px
}

.skill-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    text-overflow: ellipsis
}

.skill-items .skill-item {
    background: #ffefd6;
    border-radius: 2px;
    color: #707378;
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.3;
    padding: 4px 6px;
    white-space: nowrap
}

.work {
    color: #333;
    font-size: 17px
}

.city, .work {
    font-family: Helvetica-400;
    line-height: 1.5
}

.city {
    color: #a5a7b0;
    font-size: 14px
}

.swiper-items {
    position: relative
}

.swiper-wrapper {
    padding-bottom: 30px;
    padding-top: 10px
}

.swiper-button-next, .swiper-button-prev {
    align-items: center !important;
    background: #05bcb9 !important;
    border-radius: 50% !important;
    box-shadow: 0 20px 24px rgba(5, 188, 185, .3) !important;
    display: flex !important;
    height: 44px !important;
    justify-content: center !important;
    margin-top: unset !important;
    transform: matrix(-1, 0, 0, 1, 0, 0) !important;
    width: 44px !important
}

.swiper-button-next svg path, .swiper-button-prev svg path {
    fill: #fff
}

.swiper-button-next:after, .swiper-button-prev:after {
    display: none
}

.swiper-button-next {
    right: -22px !important
}

.swiper-button-prev {
    left: -22px !important
}

.swiper-buttons {
    position: absolute;
    top: 50%;
    width: 100%
}

.swiper-button-disabled {
    background: #eee !important;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .08) !important;
    opacity: 1 !important
}

.swiper-button-disabled svg path {
    fill: #a9aeb2
}

.review-item {
    width: 100%;
    display: flex;
    flex-direction: column
}

.review-item-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.review-item .head {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px
}

.review-item .head, .review-item .head .info {
    display: flex;
    flex-direction: row
}

.review-item .head .info img {
    border-radius: 50%;
    height: 61px;
    width: 61px
}

.review-item .head .info .user {
    display: flex;
    flex-direction: column;
    margin-left: 16px
}

.review-item .head .info .user .name {
    color: #333;
    font-family: Helvetica-400;
    font-size: 20px;
    line-height: 1.35;
    margin-bottom: 4px
}

.review-item .head .info .user .work {
    color: #65676e;
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.5
}

.review-item .head .date {
    align-items: center;
    display: flex;
    flex-direction: row
}

.review-item .head .date .stars {
    display: flex;
    margin-left: 35px
}

.review-item .my-review {
    display: flex;
    margin-top: 16px;
    padding-left: 25px
}

.review-item .comment {
    color: #1dc0bd;
    cursor: pointer;
    font-family: Helvetica-400;
    font-size: 14px;
    letter-spacing: .025em;
    line-height: 1.5;
    margin-top: 12px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    text-transform: uppercase
}

.review-item .comment-reply {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    padding-left: 25px
}

.review-item .comment-reply .comment-reply-image img {
    border-radius: 50%;
    height: 61px;
    width: 61px
}

.review-item .comment-reply .comment-reply-body {
    display: flex;
    flex-direction: column;
    margin-left: 16px
}

.review-item .comment-reply .comment-reply-body .name {
    color: #333;
    font-family: Helvetica-400;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 15px
}

.review-item .comment-reply .comment-reply-body .comment-enter {
    display: flex;
    flex-direction: row
}

.review-item .comment-reply .comment-reply-body .comment-enter .buttons {
    display: flex;
    flex-direction: column;
    margin-left: 10px
}

.review-item .comment-reply .comment-reply-body .comment-enter .buttons button {
    font-family: Helvetica-400;
    font-size: 15px;
    line-height: 1.5
}

.review-item .comment-reply .comment-reply-body .comment-enter .buttons button:first-child {
    margin-bottom: 8px
}

.category-tabs {
    border-bottom: .5px solid #c3c8cc;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    padding-top: 40px
}

.category-tabs .category-tab-item {
    color: #a5a7b0;
    cursor: pointer;
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.5;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px
}

.category-tabs .active, .category-tabs .category-tab-item:hover {
    border-bottom: 1px solid #c3c8cc;
    color: #333
}

.category-tabs .active {
    font-size: 18px
}

.mentor-info-card {
    background: #fff;
    border: 1px solid #e5e6e9;
    border-radius: 6px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    padding: 36px 38px 40px
}

.mentor-info-card:hover {
    box-shadow: 0 4px 12px rgba(27, 197, 194, .3)
}

.mentor-info-card .left {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-right: 28px;
    min-width: 92px;
    width: 92px
}

.mentor-info-card .left img {
    border-radius: 50%;
    height: 92px;
    margin-bottom: 32px;
    width: 92px
}

.mentor-info-card .left .rate {
    color: #333;
    font-family: Exo2-700;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 3px
}

.mentor-info-card .left .review {
    color: #a5a7b0;
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px
}

.mentor-info-card .left .stars {
    display: flex;
    flex-direction: row
}

.mentor-info-card .left .stars svg {
    margin-right: 4px
}

.mentor-info-card .left .stars svg:last-child {
    margin-right: unset
}

.mentor-info-card .right {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.mentor-info-card .right .work-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 16px
}

.mentor-info-card .right .work-info .skills {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mentor-info-card .right .work-info .activity {
    margin-right: 20px;
    width: 37%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mentor-info-card .right .actions {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.mentor-info-card .right .actions .price {
    color: #333;
    font-family: Helvetica-400;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 20px
}

.mentor-info-card .right .buttons {
    display: flex
}

.mentor-info-card .right .buttons .btn-default-shadow, .mentor-info-card .right .buttons .btn-white-green {
    font-family: Helvetic-400;
    font-size: 16px;
    height: 40px;
    line-height: 1.5
}

.mentor-info-card .right .buttons .btn-default-shadow {
    margin-right: 12px;
    width: 179px
}

.mentor-info-card .right .buttons .btn-white-green {
    align-items: center;
    display: flex;
    justify-content: center
}

.mentor-info-card .right .buttons .btn-white-green svg {
    margin-left: 7px
}

.mentor-info-card .right .buttons .btn-white-green:hover svg path {
    fill: #fff
}

.about-me-setting-sidebar, .about-me-sidebar {
    background: #fff;
    border-radius: 6px;
    max-width: 290px;
    min-width: 290px;
    width: 290px
}

.about-me-setting-sidebar .line, .about-me-sidebar .line {
    background: #c3c8cc;
    border: none;
    height: .5px;
    margin-bottom: 28px;
    margin-top: -5px
}

.about-me-setting-sidebar .sidebar-menu-item, .about-me-sidebar .sidebar-menu-item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px
}

.about-me-setting-sidebar .sidebar-menu-item .link, .about-me-sidebar .sidebar-menu-item .link {
    align-items: center;
    color: #333;
    display: flex;
    flex-direction: row;
    font-family: Helvetica-400;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 1.2;
    margin-right: 5px
}

.about-me-setting-sidebar .sidebar-menu-item .link svg, .about-me-sidebar .sidebar-menu-item .link svg {
    margin-right: 8px;
    min-height: 24px;
    min-width: 24px
}

.about-me-setting-sidebar .sidebar-menu-item:hover .link, .about-me-sidebar .sidebar-menu-item:hover .link {
    color: #1dc0bd
}

.about-me-setting-sidebar .sidebar-menu-item:hover .link svg path, .about-me-sidebar .sidebar-menu-item:hover .link svg path {
    fill: #1dc0bd
}

.about-me-setting-sidebar .active .link, .about-me-sidebar .active .link {
    color: #1dc0bd
}

.about-me-setting-sidebar .active .link svg path, .about-me-sidebar .active .link svg path {
    fill: #1dc0bd
}

.about-me-setting-sidebar .active:after, .about-me-sidebar .active:after {
    background-color: #1dc0bd;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 8px;
    margin-left: -13px;
    margin-right: 3px;
    margin-top: -2px;
    position: absolute;
    vertical-align: middle;
    width: 8px
}

.about-me-sidebar {
    padding-bottom: 15px;
    padding-top: 15px
}

.about-me-sidebar .sidebar-menu-items {
    display: flex;
    flex-direction: column
}

.about-me-sidebar .sidebar-menu-items .sidebar-menu-item {
    padding-left: 23px;
    padding-right: 23px
}

.about-me-setting-sidebar {
    padding: 24px
}

.about-me-setting-sidebar .sidebar-menu-items {
    display: flex;
    flex-direction: column
}

.about-me-setting-sidebar .sidebar-menu-items .sidebar-menu-item {
    padding-left: 0;
    padding-right: 0
}

.ad-sidebar {
    background-color: #1b2342;
    background-image: url(/images/bg-ad-right-sidebar.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 30px;
    min-height: 410px;
    min-width: 290px;
    padding: 25px;
    width: 290px
}

.ad-sidebar h4 {
    color: #fff;
    font-family: Exo2-700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 16px
}

.ad-sidebar p {
    color: #fff;
    font-family: Helvetica-400;
    font-size: 15px;
    line-height: 1.2
}

.s-contacts .contact-items {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 80px
}

.s-contacts .contact-items .contact-item {
    border-bottom: 1px solid #e5e6e9;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px
}

.s-contacts .contact-items .contact-item svg {
    height: 28px;
    max-height: 28px;
    max-width: 28px;
    width: 28px
}

.s-contacts .contact-items .contact-item .description {
    color: #a5a7b0;
    font-family: Helvetica-400;
    font-size: 14px;
    letter-spacing: .025em;
    line-height: 1.2;
    margin-bottom: 8px;
    margin-top: 20px;
    text-transform: uppercase
}

.s-contacts .contact-items .contact-item .name {
    color: #333;
    font-family: Helvetica-400;
    font-size: 24px;
    line-height: 1.5
}

.s-support {
    background-image: url(/images/bg-write-to-us-contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -58px;
    padding-bottom: 90px;
    padding-top: 90px;
    transform: translateY(58px)
}

.s-support .write-to-support {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between
}

.s-support .write-to-support .left, .s-support .write-to-support .right {
    width: 50%
}

.s-support .write-to-support .left h2 {
    color: #fff;
    font-family: Exo2-700;
    font-size: 40px;
    line-height: 1.2;
    width: 60%
}

.s-support .write-to-support .right .input-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.s-support .write-to-support .right .input-items input {
    width: 48%
}

.s-support .write-to-support .right textarea {
    max-height: 150px
}

.s-support .write-to-support .right .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px
}

.s-support .write-to-support .right .buttons .info-text {
    color: #fff;
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.5;
    margin-right: 70px
}

.s-support .write-to-support .right .buttons .btn-default {
    font-family: Helvetica-400;
    font-size: 16px;
    height: 47px
}

.support-button-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.support-button-block a > span {
    all: unset;
    text-decoration-line: underline;
}
