/* Modal window , popup */
.container-modal {
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 100;
}

.container-modal.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
}
.modal-header {
    border:unset;
    padding: unset;
    margin-bottom: 40px;
}
.modal-body {
    padding: unset;

}
.modal-body button {

    font-family: Helvetica-400;
    font-size: 16px;
    line-height: 1.5;
}
.inner-modal {
    max-width: 580px;
    width: 580px;
    min-width: 580px;

    /*min-height: 50%;*/

    background-color: #fff;
    border-radius: 12px;

    padding: 50px 65px;
    box-sizing: border-box;

    position: relative;
    filter: drop-shadow(0px 0px 20px rgba(0, 76, 135, 0.1));
}

.inner-modal h2.modal-title {
    font-family: Exo2-700;
    font-size: 32px;
    line-height: 1.2;
    color: #333333;
}
.modal-header .welcome-text {
    font-family: Exo2-700;
    font-size: 28px;
    line-height: 1.3;
    color: #0CBD82;
    flex-direction: column;
    display: flex;
}
.modal-header span.info {
    font-family: Exo2-400;
    font-size: 16px;
    line-height: 1.3;
    color: #333333;
}
form.modal-form {
    margin: 0;
}

.form-input-block {
    width: 100%;
    margin-bottom: 20px;
}

.btn-register {
    width: 100%;
}

.register-tabs {
    display: flex;
    flex-direction: row;
    border-radius: 4px 0px 0px 4px;
    margin-bottom: 24px;
}
.register-tabs .register-tab{
    width: 33.3%;
    background-color: #FFFFFF;
    border: 1px solid #D6FFFE;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;

    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.5;
    color: #1DC0BD;
    cursor: pointer;

}
.register-tabs .register-tab:hover {
    background: #D6FFFE;
    color: #333333;
    border-color: #D6FFFE !important;

}
.register-tabs .active{
    background: #D6FFFE !important;
    color: #333333 !important;
    border-color: #D6FFFE !important;
    border-radius: 0 !important;
}
.only-register {
    display: none;
}
.register-checkbox label {
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.5;
    color: #333333;
    white-space: normal !important;
    align-items: flex-start;
    margin-bottom: unset;
}
.only-register .modal-desc-block {
    margin-bottom: 16px;
}
.modal-desc-block label{
    white-space: nowrap;
    font-size: 14px !important;

}
.modal-desc-block {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

p.desc-info {
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.5;
    color: #828282;
}
.default-form-confirm {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/*.justify-center {*/
/*    justify-content: center;*/
/*}*/

.default-form-confirm a {
    font-family: Gilroy-400;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: #EA474A;
}
.default-form-confirm a:hover, default-form-confirm a:focus {
    text-decoration-line: underline;
    color: #EA474A;
}

.default-form-confirm input[type=checkbox] {
    margin-right: 10px;
    width: 25px;
    min-width: 25px;
    height: 25px;
    min-height: 25px;
    cursor: pointer;
    background: #F9F9F9;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #EA474A;
}
.default-form-confirm input[type=checkbox]:checked {
    -webkit-appearance: none;
    background: #EA474A;
    color: #FFFFFF;
    border: none;
}
.default-form-confirm input[type=checkbox]:checked:after {
    -webkit-appearance: none;
    content: " ✔";
    padding-top: 2px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


a.desc-info-link {
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.5;
    text-decoration-line: underline;
    color: #1DC0BD;
    white-space: nowrap;
    cursor: pointer;
}

.btn-register {
    margin-top: 40px;
    margin-bottom: 30px;
}

.modal-hr {
    background: #BABABA;
    position: relative;
    margin-top: 40px;
    margin-bottom: 20px;
}

.modal-close {
    display: inline-block;
    position: absolute;
    width: 29px;
    height: 29px;
    background: none;
    top: 20px;
    right: -45px;
    cursor: pointer;
    opacity: 1;
    padding: unset !important;
    margin: unset !important;
}

.modal-close:focus {
    color: #FFFFFF;
    /*background: #fff;*/
}

.modal-close svg {
    width: 100%;
    height: 100%;

}

svg.close-icon {
    stroke: #fff;
}


/* Чекбокс */
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #C6711A;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked + label::before {
    border-color: #C6711A;
    background-color: #C6711A;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
    border-color: #C6711A;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
    background-color: #C6711A;
    border-color: #C6711A;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
    /*box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);*/
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
    border-color: #C6711A;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
    background-color: #C6711A;
}

.desc-checked {
    font-family: Gilroy-400;
    font-size: 18px;
    line-height: 1.2;
    text-decoration-line: underline;

    color: #C6711A;
}

.btn-editUser, .btn-editpassword {
    width: 100%;
}

@media (max-width: 575.98px) {
    .inner-modal {
        padding: 40px 25px;
    }

    .modal-close {
        right: 20px;
    }

    svg.close-icon {
        stroke: black;
    }
}
