.s-cabinet {
    background-color: #f3f6ff;
    padding-bottom: 200px;

    .title {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .wrapper {
        display: flex;
        flex-direction: row;

        .cabinet-info {
            display: flex;
            flex-direction: column;
            background: #FFFFFF;
            width: 100%;
            /* standart card shadow */

            /* standart card shadow */

            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
            border-radius: 6px;
            margin-right: 30px;

            .mentor-block-user-name {
                width: 100%;
                padding: 30px 30px 0;

                .base-info {
                    display: flex;
                    flex-direction: row;

                    .user-image {
                        width: 92px;
                        height: 92px;
                        margin-right: 20px;

                        img {

                            width: 92px;
                            height: 92px;
                        }
                    }

                    .user-info {
                        .name {
                            margin-bottom: 4px;
                        }

                        .city {
                            margin-bottom: 8px;
                        }
                    }
                }

                .status-price-block {
                    padding: 13px 20px;

                    .price {
                        margin-left: unset;
                    }

                    .mentor {
                        font-size: 14px;
                        margin-bottom: 5px;

                        .status {
                            font-size: 14px;
                        }
                    }

                    .price {
                        font-size: 20px;
                    }
                }
            }

            .mentor-statistics {
                padding: 0 30px 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .mentor-statistic-item {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .count {
                        background: #E5E6E9;
                        border-radius: 50px;
                        width: 44px;
                        height: 44px;
                        min-width: 44px;
                        min-height: 44px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: Helvetica-400;
                        font-size: 20px;
                        line-height: 1.5;
                        color: #333333;
                        margin-right: 12px;
                    }

                    p {
                        font-family: Helvetica-400;
                        font-size: 17px;
                        line-height: 1.5;
                        max-width: 190px;
                        color: #65676E;
                    }
                }

                .mentor-statistic-item:last-child {
                    margin-right: unset;
                }
            }

            .line {
                margin-top: 30px;
                margin-bottom: 24px;
            }
        }


    }

    .profile-menu-items {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        margin-top: 44px;

        &__menu-item {
            flex: 0 0 32%;
            margin: 1% 0;
            border: 1px solid #E5E6E9;
            box-sizing: border-box;
            border-radius: 6px;
            padding: 20px;
            //margin-bottom: 25px;
            //margin-right: 30px;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
            height: 140px;

            //background-size: contain;
            //background-position: 100%;
            background-size: 36%;
            background: #FFFFFF url("/images/bg-card-profile-user.png") no-repeat 90%;
            background-size: 36%;
            background-position-y: 100%;


            .title {
                font-family: Helvetica-400;
                font-size: 18px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                text-transform: uppercase;
                color: #333333;
                margin-top: unset;
                margin-bottom: 8px;
            }

            a {
                font-family: Helvetica-400;
                font-size: 16px;
                line-height: 1.5;
                text-decoration-line: underline;
                color: #325EFB;
                margin-bottom: 50px;
            }

        }

        &__menu-item:nth-child(3n-1) {
            //margin-right: unset;
            margin-left: 2%;
            margin-right: 2%;
        }

        .bg-profile-card-calendar {
            background: #FFFFFF url("/images/bg-card-profile-calendar.png") no-repeat 90%;
            background-size: 36%;
            background-position-y: 100%;
        }

        .bg-profile-card-certificate {
            background: #FFFFFF url("/images/bg-card-profile-certificate.png") no-repeat 90%;
            background-size: 36%;
            background-position-y: 100%;
        }

        .bg-profile-card-megaphone {
            background: #FFFFFF url("/images/bg-card-profile-megaphone.png") no-repeat 90%;
            background-size: 36%;
            background-position-y: 100%;
        }

        .bg-profile-card-spec {
            background: #FFFFFF url("/images/bg-card-profile-spec.png") no-repeat 90%;
            background-size: 36%;
            background-position-y: 100%;
        }

        &__menu-item-counter {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 15px;

            p {
                font-family: Helvetica-400;
                font-size: 16px;
                line-height: 1.5;
                color: #707378;
                margin-right: 8px;
            }


            //.mini-profile-progressbar {
            //    margin-right: 8px;
            //}
        }
    }

}

.cabinet-sidebar {
    width: 290px;
    min-width: 290px;
    border: 1px solid #C3C8CC;
    padding: 25px 18px;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    .title {
        font-family: Helvetica-400;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #333333;
        margin-bottom: 12px;
    }

    p {
        font-family: Helvetica-400;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: #707378;

    }
}

.profile-progressbar {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    p .progress-percent {
        font-family: Helvetica-400;
        font-size: 16px;
        line-height: 1.5;
        color: #90949A;
        margin-left: 8px;
    }

    .progress-spinner {
        border-radius: 50%;
        height: 120px;
        width: 120px;
        background: conic-gradient(#6e8dfc 80%, #DDE4FF 90%);
    }

    .middle-circle {
        position: absolute;
        border-radius: 50%;
        height: 85px;
        width: 85px;
        background-color: #f3f6ff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Exo2-700;
        font-size: 24px;
        line-height: 115%;
        text-align: center;
        color: #65676E;
    }
}

.mini-profile-progressbar {
    display: flex;
    align-items: center;

    .profile-progressbar {
        width: 28px;
        height: 28px;
        margin-right: 8px;

        .progress-spinner {
            width: 28px;
            height: 28px;
        }

        .middle-circle {
            width: 20px;
            height: 20px;
        }
    }

}

.s-about-me-page {
    background-color: #f3f6ff;
    padding-bottom: 80px;

    .title {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .about-me {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .empty {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 300px;

            .text {
                font-family: Helvetica-400;
                font-size: 24px;
                line-height: 1.5;
                color: #919191;
                margin-bottom: 24px;
            }

            button {
                font-family: Helvetica-400;
                font-size: 15px;
            }
        }
        .favorites-mentors .btn-load-more {
            margin-top: 40px;
        }
    }

    .about-me-form {
        padding: 40px 85px 80px 40px;
        background: #FFFFFF;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        width: 100%;
        margin-right: 20px;

        label {
            font-family: Helvetica-400;
            font-size: 24px;
            line-height: 1.5;
            color: #333333;
            margin-bottom: 20px;
            display: flex;
            align-items: center;

            .dropdown-menu {
                margin-left: 5px;
            }
        }

        .dropdown-help-info:hover .dropdown-help-info-content {
            display: block;
        }

        .dropdown-spec-info:hover .dropdown-spec-info-content {
            display: block;
        }

        .dropdown-skills-info:hover .dropdown-skills-info-content {
            display: block;
        }

        .dropdown-document-help:hover .dropdown-document-help-content {
            display: block;
        }

        .dropdown-menu {
            top: 0;

            .dropdown-content {
                left: 0;
                font-family: Helvetica-400;
                font-size: 12px;
                line-height: 1.5;
                color: #65676E;
                padding: 10px 10px 6px 10px;
                background: #FFFFFF;
                box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
                border-radius: 6px;
            }
        }

        .dropdown-about-me:hover .dropdown-about-me-content {
            display: block;
        }

        .btn-default, button {
            font-family: Helvetica-400;
            font-size: 17px;
        }

        .form-group {
            margin-bottom: 40px;

            .input-default, .select-default {
                width: 48%;
            }

            span.info {
                font-family: Helvetica-400;
                font-size: 14px;
                line-height: 1.5;
                color: #333333;
                margin-bottom: 8px;
            }


            .textarea-default {
                width: 100%;
            }

            .inputs {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                input:nth-child(2n) {
                    margin-left: 20px;
                }
            }

            .head {
                margin-bottom: 20px;

                label {
                    margin-bottom: unset;
                }

                .delete-text {
                    svg {
                        margin-right: 8px;

                    }

                    font-family: Helvetic-400;
                    font-size: 18px;
                    line-height: 1.2;
                    letter-spacing: 0.02em;
                    color: #E40904;
                    display: flex;
                    align-items: center;

                }
            }

            .warning-text {
                margin-top: 40px;
            }

            .warning-text, .warning-text span {
                font-family: Helvetica-400;
                font-size: 18px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #333333;

            }

            .warning-text span {
                color: #E40904;
            }

            .spec-items {
                display: flex;

                .input-items:first-child {
                    margin-right: 35px;
                }
            }

            .input-items {
                display: flex;
                flex-direction: column;
            }

            .btn-upload-file {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 36px;
                width: 280px;
                white-space: nowrap;


                font-family: Helvetica-400;
                font-size: 24px;
                line-height: 1.5;
                color: #1DC0BD;
            }

            .line {
                margin-top: 40px;
                margin-bottom: 30px;
            }


            .switch-default-input {
                position: relative;
                width: 46px;
                height: 24px;
                display: flex;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #B3BCC5;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                .slider:before {
                    position: absolute;
                    content: "";
                    height: 20px;
                    width: 20px;
                    left: 3px;
                    bottom: 2px;
                    background: #FFFFFF;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                input:checked + .slider {
                    background-color: #D6FFFE;
                }

                input:focus + .slider {
                    box-shadow: 0 0 1px #D6FFFE;
                }

                input:checked + .slider:before {
                    -webkit-transform: translateX(20px);
                    -ms-transform: translateX(20px);
                    transform: translateX(20px);
                        background-color: #1DC0BD;
                }

                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }
                .text {
                    font-family: Helvetica-400;
                    font-size: 17px;
                    line-height: 1.5;
                    color: #65676E;
                    margin-left: 60px;
                }
            }
        }
        .change-email-notification {
            .text {
                font-family: Helvetica-400;
                font-size: 17px;
                line-height: 1.5;
                color: #65676E;
                a  {
                    font-family: Helvetica-400;
                    font-size: 18px;
                    line-height: 1.5;
                    text-decoration-line: underline;
                    color: #1DC0BD;
                }
            }
        }

        .success-info-btn {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-family: Helvetica-400;
            font-size: 18px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #0CBD82;
            margin-left: auto;
            margin-right: auto;

            svg {
                margin-right: 8px;
            }
        }


        .photo-form-group {
            .photo {
                display: flex;
                flex-direction: row;

                img {
                    border-radius: 50%;
                    width: 90px;
                    height: 90px;
                    max-width: 90px;
                    max-height: 90px;

                    margin-right: 25px;
                }

                .buttons {
                    display: flex;
                    flex-direction: column;

                    .info-text {
                        font-family: Helvetica-400;
                        font-size: 14px;
                        line-height: 1.5;
                        color: #A5A7B0;
                        margin-top: 14px;

                        svg {
                            width: 20px;
                            height: 20px;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

        .skill-items {
            margin-top: 24px;

            .skill-item {
                font-family: Helvetica-400;
                font-size: 14px;
                line-height: 1.3;
                color: #333333;
                padding: 7.5px 11.5px;
            }

            .skill-item svg {
                cursor: pointer;
                margin-left: 9px;
            }
        }
        .category-tabs {
            margin-bottom: 36px;
        }
        .review-items {
            .line {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }

        .btn-load-more {
            margin-top: 45px;
        }
    }

    .cabinet-sidebar {
        margin-top: 30px;
    }
    .empty-favorites {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 300px;
        h4 {
            font-family: Exo2-700;
            font-size: 32px;
            line-height: 1.2;
            color: #333333;
            margin-bottom: 20px;
        }
        p {
            font-family: Helvetic-400;
            font-size: 16px;
            line-height: 1.5;
            color: #515461;
        }
        .btn-default {
            margin-top: 40px;
            font-family: Helvetica-400;
            font-size: 15px;
            line-height: 1.5;
        }
    }




}
.warning-verify-email {
    background: #FFEFD6;
    padding-top: 16px;
    padding-bottom: 16px;
    .text {
        font-family: Helvetica-400;
        font-size: 16px;
        line-height: 1.5;
        color: #FF5500;
        margin: 0px 12px;
        a {

        }
    }
}

