
.s-catalog {
    .title {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .wrapper {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;

        .filters {
            width: 295px;
            min-width: 295px;
            margin-right: 40px;
            display: flex;
            flex-direction: column;

            &__filter {
                margin-bottom: 36px;
                transition: all 0.4s ease;

                .active {
                    svg {
                        transition: all 0.4s ease;
                        transform: rotate(180deg);
                    }
                }

                .panel {
                    background: #FFFFFF;

                    .search-input {
                        background: #FFFFFF;
                        width: 100%;
                        /* Gray 4 */

                        height: 40px;
                        border: 1px solid #C3C8CC;
                        box-sizing: border-box;
                        border-radius: 2px;
                        padding: 7px 15px;
                        margin-bottom: 20px;
                    }
                }

            }

            &__filter:last-child {
                margin-bottom: 40px;

            }

            &__filter-title {
                font-family: Helvetica-400;
                font-size: 15px;
                line-height: 1.5;
                letter-spacing: 0.025em;
                text-transform: uppercase;
                color: #000000;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                margin-bottom: 20px;
                border: none;
                padding: unset;
                background: #ffffff;
            }

            &__filter-items {
                display: flex;
                flex-direction: column;
                max-height: 230px;
                overflow: auto;
                background: #FFFFFF;
                color: #65676E;
                padding: unset;


                &::-webkit-scrollbar {
                    width: 5px;
                    cursor: pointer;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 5px #D6FFFE;
                    border-radius: 50%;
                    cursor: pointer;
                }

                &::-webkit-scrollbar-button {
                    height: 12px;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #1DC0BD;
                    border-radius: 5px;
                    cursor: pointer;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #1DC0BD;
                    cursor: pointer;
                }

                .checkbox {
                    .filter-input-checkbox {
                        display: flex;

                        input[type=checkbox] {
                            -webkit-appearance: none;
                            background: #1DC0BD;
                            border-radius: 4px;
                            color: #FFFFFF;
                            width: 20px;
                            min-width: 20px;
                            height: 20px;
                            min-height: 20px;
                            cursor: pointer;
                            box-sizing: border-box;
                            border: none;
                            margin-right: 8px;
                        }

                        input[type=checkbox]:checked:after {
                            -webkit-appearance: none;
                            content: " ✔";
                            padding-top: 0px;
                            font-size: 16px;
                            color: #ffffff;
                            text-align: center;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .filter-input-checkbox-text {
                        font-family: Helvetica-400;
                        font-size: 16px;
                        line-height: 1.4;
                        color: #3D474D;

                        margin-bottom: 8px;
                    }

                    .unchecked {
                        color: #A5B0B6;
                    }
                }
            }

            &__filter-item {
                display: flex;
                flex-direction: column;
                font-family: Helvetica-400;
                font-size: 17px;
                line-height: 1.5;
                color: #65676E;
                margin-bottom: 8px;
            }

            .clear-filter {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 40px;

                font-family: Helvetica-400;
                font-size: 16px;
                line-height: 1.5;
                color: #E40904;
                margin-top: 15px;
                cursor: pointer;

                svg {
                    margin-left: 10px;
                }


            }
        }

        .search-result {
            display: flex;
            flex-direction: column;
            width: 100%;

            &__header {

                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 13px;
                border-bottom: 1px solid #E5E6E9;

                p {
                    font-family: Helvetica-400;
                    font-size: 14px;
                    line-height: 1.5;
                    color: #707378;
                }

                &__sorting {
                    display: flex;

                    svg {
                        margin-right: 8px;
                    }
                }
            }

            &__item-cards {
                display: flex;
                flex-direction: column;
                margin-top: 36px;
            }

            &__item-cards {
                background: #FFFFFF;
                border: 1px solid #E5E6E9;
                box-sizing: border-box;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
                border-radius: 6px;
                padding: 36px 38px 40px;
            }
            &__item-card {
                display: flex;
                flex-direction: row;

                .left {
                    width: 92px;
                    min-width: 92px;
                    margin-right: 28px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img {
                        width: 92px;
                        height: 92px;
                        border-radius: 50%;
                        margin-bottom: 32px;
                    }
                    .rate {
                        font-family: Exo2-700;
                        font-size: 18px;
                        line-height: 1.2;
                        color: #333333;
                        margin-bottom: 3px;
                    }
                    .review {
                        font-family: Helvetica-400;
                        font-size: 14px;
                        line-height: 1.5;
                        color: #A5A7B0;
                        margin-bottom: 8px;
                    }
                    .stars {
                        display: flex;
                        flex-direction: row;
                        svg {
                            margin-right: 4px;
                        }
                        svg:last-child {
                            margin-right: unset;
                        }
                    }
                }
                .right {
                    width: 100%;
                    .user-name {
                        display: flex;
                        justify-content: space-between;
                        .name {
                            font-family: Exo2-700;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 1.2;
                            color: #333333;
                            span {
                                font-family: Exo2-400;
                                font-size: 16px;
                                font-weight: normal;

                                color: #707378;
                            }
                        }
                        .status {
                            font-family: Helvetica-400;
                            font-size: 12px;
                            line-height: 1.5;
                            letter-spacing: 0.03em;
                            text-transform: uppercase;
                            color: #0CBD82;
                        }
                        .status::before {
                            content: "";
                            width: 5px;
                            height: 5px;
                            display: inline-block;
                            vertical-align: middle;
                            background-color: #0CBD82;
                            border-radius: 100%;
                            margin-right: 10px;
                            margin-left: -15px;
                        }
                    }
                }
            }
        }
    }

//     text-overflow: ellipsis;
    //  overflow: hidden;
    //  width: 160px;
    //  height: 1.2em;
    //  white-space: nowrap;
}
