@media (min-width: 1520px) {
    .container.header-container {
        max-width: 1490px;
    }
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Helvetic-400;
    color: #65676E;
    /*transition: all 0.3s ease 0s;*/
}

.flex-fill {
    background: #FFFFFF;
}
.b-none {
    border: none !important;
}
/*.success {*/
/*    color: #4AAF30 !important;*/
/*}*/
/*:root {*/
/*    scrollbar-color: #fff #9e9e9e !important;*/
/*    scrollbar-width: thin !important;*/
/*}*/
/*::-webkit-scrollbar {*/
/*    width: 6px;*/
/*}*/
/*::-webkit-scrollbar-track {*/
/*    background: #9e9e9e;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*    background: #fff;*/
/*    border-radius: 10px;*/
/*}*/
:root {
    --plyr-color-main: rgba(255, 255, 255, 0.4);
    --plyr-video-background: rgba(0, 0, 0, 0.08);
    --plyr-badge-border-radius: 6px;
}

/*html, body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    height: 100%;*/
/*    font-size: 18px;*/
/*    line-height: 22px;*/
/*    !*color: #EADCDC;*!*/
/*    background: white;*/
/*    overflow-x: hidden;*/
/*}*/
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;
    line-height: 22px;
    /*color: #EADCDC;*/
    background: white;
    overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin-bottom: unset;
    margin-left: -10px;
}

input, select, button, textarea {
    margin: 0;
    outline: none;
    background-color: inherit;
}

button {
    border: none;
    transition: 0.2s ease;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    /*color: #fff;*/
}

textarea {
    resize: none;
}

a:hover {
    text-decoration: none;
}

/*.default-btn {*/
/*    !* Main color *!*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    height: 50px;*/
/*    width: 160px;*/
/*    font-family: Gilroy-600;*/
/*    font-size: 16px;*/
/*    line-height: 1.2;*/
/*    !* identical to box height *!*/
/*    text-align: center;*/
/*    !*text-transform: uppercase;*!*/
/*    color: #FFFFFF;*/
/*    background: #EA474A;*/
/*    border-radius: 6px;*/
/*    cursor: pointer;*/
/*    box-shadow: 0px 5px 13px rgb(245 78 78 / 60%);*/
/*}*/
/*.default-btn:hover {*/
/*    cursor: pointer;*/
/*    background: #BD060A;*/
/*    color: white;*/
/*    box-shadow: unset;*/
/*}*/
/*.default-btn:disabled {*/
/*    background: #C7C7C7;*/
/*    box-shadow: unset;*/
/*    cursor: not-allowed;*/
/*}*/
/*.default-btn:focus {*/
/*    cursor: pointer;*/
/*    background: #BD060A;*/
/*    color: white;*/
/*    box-shadow: unset;*/
/*}*/
/*.dark-bright-btn {*/
/*    background: #C6711A;*/
/*    border-radius: 6px;*/
/*    width: 190px;*/
/*    height: 50px;*/
/*    text-align: center;*/
/*    color: white;*/
/*    box-shadow: unset;*/
/*}*/
/*.dark-bright-btn:hover {*/
/*    background: #FFFFFF;*/
/*    border: 1px solid #C6711A;*/
/*    box-shadow: unset;*/
/*    color: #C6711A;*/
/*}*/
/*.dark-bright-btn:focus {*/
/*    background: #A05A13;*/
/*    border-radius: 6px;*/
/*    box-shadow: unset;*/
/*    color: white;*/
/*}*/
/*.dark-bright-btn:hover svg{*/
/*    fill: #C6711A;*/
/*}*/
/*.uppercase {*/
/*    text-transform: uppercase;*/
/*}*/
/*.dark-bright-btn:focus {*/
/*    fill: white;*/
/*}*/
/*.white-btn {*/
/*    background: #FFFFFF;*/
/*    border: 2px solid #EA474A;*/
/*    box-sizing: border-box;*/
/*    border-radius: 6px;*/
/*    font-family: Gilroy-600;*/
/*    font-size: 18px;*/
/*    line-height: 1.2;*/
/*    text-align: center;*/
/*    color: #EA474A;*/
/*    width: 160px;*/
/*    height: 50px;*/
/*    cursor: pointer;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/
/*.white-btn:hover{*/
/*    cursor: pointer;*/
/*    border-color: #BD060A;*/
/*    background: #BD060A;*/
/*    color: white;*/
/*}*/
/*.white-btn:focus {*/
/*    background: #BD060A;*/
/*    box-shadow: unset;*/
/*}*/
/*.btn-md {*/
/*    width: 240px;*/
/*    height: 50px;*/
/*}*/
.input-radio-default {
    background: #D6FFFE;
    width: 24px;
    height: 24px;
}

.label-default-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #D6FFFE;
    border-radius: 50%;
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
.label-default-radio:hover input ~ .checkmark {
    background-color: #D6FFFE;
}

/* When the radio button is checked, add a blue background */
.label-default-radio input:checked ~ .checkmark {
    background-color: #D6FFFE;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.label-default-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.label-default-radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #1DC0BD;
}

.label-default-radio {
    font-family: Helvetica-400 !important;
    font-size: 17px !important;
    line-height: 1.5 !important;
    color: #65676E !important;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
}

.input-default, .select-default {
    width: 406px;
    height: 54px;
    box-shadow: unset;
    padding: 16px 15px;
    font-family: Helvetica-400;
    font-size: 15px;
    line-height: 155%;
    color: #65676E;
    background: #F6F7F9;
    border: 1px solid #A9AEB2;
    box-sizing: border-box;
    border-radius: 4px;
}

.textarea-default {
    width: 406px;
    height: 54px;
    box-shadow: unset;
    padding: 16px 15px;
    font-family: Helvetica-400;
    font-size: 15px;
    line-height: 155%;
    color: #65676E;
    background: #F6F7F9;
    border: 1px solid #A9AEB2;
    box-sizing: border-box;
    border-radius: 4px;
}

.input-default:hover {
    background: #F6F7F9;
    border: 1px solid #A9AEB2;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: none;
    color: #65676E;
}

.textarea-default:hover {
    font-family: Helvetica-400;
    font-size: 15px;
    line-height: 155%;
    color: #65676E;
    background: #F6F7F9;
    border: 1px solid #A9AEB2;
    box-sizing: border-box;
    border-radius: 4px;
}

.input-default:focus {
    /*border: 0.5px solid #909090;*/
    /*color: #FFFFFF;*/
    /*background: #383838;*/
    background: #F6F7F9;
    border: 1px solid #A9AEB2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08) !important;
}

.input-default:disabled {
    /*border: 0.5px solid #909090;*/
    /*color: #FFFFFF;*/
    /*background: #383838;*/
    background: #E5E6E9 !important;
    color: #65676E !important;
    box-shadow: unset !important;

    &:focus {
        background: #E5E6E9;
        color: #65676E !important;
        box-shadow: unset !important;
    }
    &:hover {
        background: #E5E6E9;
        color: #65676E !important;
        box-shadow: unset !important;
    }
}
.default-checkbox-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .default-checkbox-input */
.default-checkbox-input+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-family: Helvetica-400 !important;
    font-size: 17px !important;
    line-height: 1.5 !important;
    color: #65676E !important;
}

/* создание в label псевдоэлемента before со следующими стилями */
.default-checkbox-input+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    border-radius: 2px;
    border: 1px solid #65676E !important;
}

/* стили при наведении курсора на checkbox */
.default-checkbox-input:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.default-checkbox-input:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.default-checkbox-input:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.default-checkbox-input:focus:not(:checked)+label::before {
    box-shadow: unset !important;
    border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.default-checkbox-input:checked+label::before {
    border-color: #1DC0BD !important;
    background-color: #1DC0BD;
    box-shadow: unset !important;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7763 0.501654C12.0515 0.746267 12.0762 1.16765 11.8316 1.44283L4.72054 9.44285C4.594 9.58519 4.41266 9.66659 4.22223 9.66659C4.03181 9.66659 3.85047 9.58519 3.72396 9.44285L0.168402 5.44285C-0.0762116 5.16765 -0.0514249 4.74625 0.223768 4.50165C0.498955 4.25705 0.920335 4.28185 1.16495 4.55699L4.22223 7.99645L10.8351 0.55702C11.0797 0.281827 11.5011 0.25704 11.7763 0.501654Z' fill='white'/%3E%3C/svg%3E%0A");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.default-checkbox-input:disabled+label::before {
    background-color: #e9ecef;
}
.file-input-form-default {
    position: relative;
    background: #FFFFFF;
    border: 1px dashed #1DC0BD;
    height: 160px;
    cursor: pointer;
    transition: 0.3s all;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    input {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    svg {
        width: 24px;
        height: 24px;
    }

    .upload-text {
        margin-top: 10px;

        font-family: Helvetica-400;
        font-size: 14px;
        line-height: 1.3;
        color: #1DC0BD;
        background: #D6FFFE;
        border-radius: 4px;
        padding: 10px 11.5px;
    }

}

.select-default:focus, .select-default:active {
    background: #F6F7F9;
    border: 1px solid #A9AEB2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08) !important;

}

.textarea-default:focus {
    color: #65676E;
    background: #F6F7F9;
    border: 1px solid #A9AEB2;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08) !important;
    /*border: 0.5px solid #C7C7C7;*/
    /*box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);*/
}

.input-default:active, .textarea-default:active {
    color: #65676E;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08) !important;
    /*border: 0.5px solid #909090;*/
    /*color: #FFFFFF;*/
    /*background: #383838;*/
    /*color: #202020 !important;*/
    /*background: white !important;*/
}

/*.text-dark {*/
/*    font-family: Gilroy-400;*/
/*    font-size: 16px;*/
/*    line-height: 1.2;*/
/*    color: #606060;*/
/*}*/
/*.default-card-table {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.card-table-row {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    margin-bottom: 10px;*/
/*}*/
/*.card-table-row:last-child {*/
/*    margin-bottom: unset;*/
/*}*/
/*.card-table-key {*/
/*    width: 30%;*/
/*    font-family: Gilroy-400;*/
/*    font-size: 16px;*/
/*    line-height: 1.2;*/
/*    color: #606060;*/
/*}*/
/*.card-table-value {*/
/*    font-family: Gilroy-600;*/
/*    font-size: 16px;*/
/*    line-height: 1.2;*/
/*    color: #303030;*/
/*}*/
/*.line {*/
/*    height: 1px;*/
/*    width: 100%;*/
/*    background: #BABABA;*/
/*    margin-top: 30px;*/
/*    margin-bottom: 30px;*/
/*}*/
.help-block {
    color: red;
    font-family: Helvetic-400;
    font-size: 18px;
    line-height: 1.2;
    margin-top: 10px;
}

.m-tb-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-gray {
    color: #A5A7B0;
}

.small-btn {
    width: 162px;
    height: 51px;
}

.large-btn {
    width: 340px;
    height: 56px;
}

.medium-btn {
    min-width: 226px;
    height: 56px;
}

.medium-large-btn {
    width: 252px;
    height: 57px;
}

.btn-default {
    background: #05BCB9;
    font-family: Helvetica-300;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
}

.btn-default svg path {
    fill: #FFFFFF;
}

.btn-default:hover {
    color: #FFFFFF;
    box-shadow: 0px 20px 24px rgba(27, 197, 194, 0.3);
}

.bg-gray {
    background-color: #f3f6ff;
}

.bg-white {
    background-color: #FFFFFF;
}

.btn-default-shadow {
    background: #05BCB9;
    box-shadow: 0px 20px 24px rgba(0, 153, 102, 0.3);
    font-family: Helvetica-300;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 5px;
}

.btn-default-shadow:hover {
    color: #FFFFFF;
    box-shadow: unset;
}

.btn-default-white-shadow {
    background: #05BCB9;
    box-shadow: 0px 20px 24px rgba(0, 153, 102, 0.3);
    font-family: Helvetica-300;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border-radius: 5px;
}

.btn-default-white-shadow:hover {
    color: #05BCB9;
    background: #FFFFFF;
    border: 1px solid #05BCB9;
    box-sizing: border-box;
    border-radius: 2px;
}

.btn-white-blue {
    background: #F5F8FF;
    border: 1px solid #325EFB;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Helvetica-300;
    font-size: 18px;
    line-height: 1.5;
    color: #325EFB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-blue-white {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D6FFFE;
    border-radius: 6px;
    font-family: Helvetica-400;
    font-size: 15px;
    line-height: 17px;
    color: #1DC0BD;
}

.btn-blue-white:hover, .btn-blue-white:focus {
    color: #FFFFFF;
    background: #05BCB9;
}
.btn-white-blue:hover, .btn-white-blue:focus {
    color: #FFFFFF;
    background: #325EFB;
}

.btn-white-green {
    border: 1.5px solid #05BCB9;
    box-sizing: border-box;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-family: Helvetica-300;
    font-size: 18px;
    line-height: 1.5;
    color: #05BCB9;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    padding: 8px 15px;
}

.btn-white-green:hover, .btn-white-green:focus {
    color: #FFFFFF !important;
    background: #1DC0BD;
}

.btn-white-green:hover svg path, .btn-white-green:focus svg path {
    fill: #FFFFFF !important;
}

.default-mentor-card {
    width: 306px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-right: 30px;
}

.default-mentor-card img {
    width: 100%;
    height: auto;
}

.default-mentor-card .info {
    display: flex;
    flex-direction: column;
    padding: 20px 25px 25px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.default-mentor-card .info .name {
    font-family: Helvetica-400;
    font-size: 20px;
    line-height: 1.5;
    color: #333333;
}

.default-mentor-card .info .work {
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.5;
    color: #65676E;
    margin-bottom: 16px;
}

.default-mentor-card .info .rate {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.default-mentor-card .info .rate .stars {
    display: flex;
    flex-direction: row;
}

.default-mentor-card .info .rate .stars svg {
    margin-right: 4px;
}

.default-mentor-card .info .rate .stars svg:last-child {
    margin-right: unset;
}

.default-mentor-card .info .rate p {
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.5;
    color: #333333;
}

.default-mentor-card .info button {
    width: 100%;
}

.default-mentor-cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.default-mentor-cards .default-mentor-card:last-child {
    margin-right: unset;
}

.accordion-block {
    margin-bottom: 16px;
}

.accordion-block .active {
    color: #FFFFFF;
    background-color: #05BCB9;
    padding-bottom: 15px;
}

.accordion-block .active svg.arrow-down-icon {
    transition: all 0.4s ease;
    transform: rotate(180deg);
}

.accordion-block .active .plus {
    transition: all 0.4s ease;
    display: none;
}

.accordion-block .active .minus {
    transition: all 0.4s ease;
    display: block;
}

.accordion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EDFFFF;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 25px 50px 25px 30px;
    width: 100%;
    text-align: left;
    font-family: Helvetica-400;
    font-size: 20px;
    line-height: 1.3;
    color: #333333;
    transition: all 0.4s ease;
}

.accordion .minus {
    display: none;
}

.accordion .svg-block {
    width: 24px;
    height: 24px;
}

.accordion .arrow-down-icon {
    width: 24px;
    height: 24px;
    transition: all 0.4s ease;
    transform: rotate(0deg);
}

.panel {
    background-color: #05BCB9;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin: 0;
    text-align: left;
}

.panel .answer {
    padding: 0px 80px 22px 30px;
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.5;
    color: #FFFFFF;
}

.line {
    //border: 1px solid #C3C8CC;
    height: 1px;
    width: 100%;
    background: #C3C8CC;
    margin-top: 20px;
    margin-bottom: 20px;
}

.review-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.review-items .review-card {
    background: #FFFFFF;
    margin-right: 30px;
    /* standart card shadow */
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    width: 306px;
    min-width: 306px;
}

.review-items .review-card .review-card-header {
    padding: 25px 28px 0 28px;
    display: flex;
    align-items: center;
}

.review-items .review-card .review-card-header img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 16px;
}

.review-items .review-card .review-card-header .name {
    font-family: Helvetica-400;
    font-size: 20px;
    line-height: 1.5;
    color: #333333;
}

.review-items .review-card .review-card-body {
    padding: 4px 36px 25px 36px;
}

.review-items .review-card .review-card-body .text {
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 155%;
    color: #6F6F6F;
    margin-bottom: 16px;
}

.review-items .review-card .review-card-body a {
    font-family: Helvetica-300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.025em;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #05BCB9;
}

.review-items .review-card:last-child {
    margin-right: unset;
}

.post-item {
    width: 340px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.post-item img {
    width: 100%;
    height: auto;
    margin-bottom: 28px;
}

.post-item .title {
    font-family: Exo2-700;
    font-size: 24px;
    line-height: 1.15;
    color: #333333;
    margin-bottom: 16px;
}

.post-item .text {
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.55;
    color: #333333;
    margin-bottom: 16px;
}

.post-item a {
    font-family: Helvetica-300;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.025em;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #05BCB9;
}

.default-tabs {
    display: flex;
    align-items: center;
}

.default-tabs__default-tab {
    font-family: Helvetica-300;
    font-size: 18px;
    line-height: 1.5;
    color: #A5A7B0;
    padding-bottom: 6px;
    border-bottom: 1px solid #1DC0BD;
    padding-left: 11px;
    padding-right: 21px;
    cursor: pointer;
    &:hover {
        color: #1DC0BD;
        border-bottom: 4px solid;
        padding-bottom: 3px;
        border-color: #99e7e6;
    }
}

.default-tabs__default-tab:first-child {
    padding-left: unset;
}

.default-tabs__default-tab:last-child {
    padding-right: unset;
}

.default-tabs__active {
    color: #05BCB9 !important;
    border-bottom: 4px solid;
    border-color: #05BCB9 !important;
    padding-bottom: 3px;
}

.catalog-ad-card {
    width: 100%;
    padding: 36px 70px 35px 60px;
    background-image: url("/images/bg-ad.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 16px;
}

.catalog-ad-card h4 {
    font-family: Exo2-700;
    font-size: 32px;
    line-height: 1.15%;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.catalog-ad-card a {
    font-family: Helvetica-400;
    font-size: 20px;
    line-height: 1.5;
    -webkit-text-decoration-line: underline !important;
    text-decoration-line: underline !important;
    color: #416AFF !important;
}

section .title {
    font-family: Exo2-700;
    font-size: 40px;
    line-height: 1.15;
    color: #333333;
}

.small-text {
    font-family: Helvetica-400;
    font-size: 16px;
    line-height: 1.5;
    color: #65676E;
}

.multi-small-text {
    font-family: Helvetica-400;
    font-size: 14px;
    line-height: 1.5;
    color: #A5A7B0;
}

.medium-small-text {
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 1.4;
    color: #65676E;
}

.gray-text {
    color: #A5A7B0;
}

.dark-charcoal-text {
    color: #333333;
}

.w-100 {
    width: 100%;
}

.red::before {
    background-color: #E40904 !important;
}

.red {
    color: #E40904 !important;
}

@media (max-width: 767.98px) {
    /*.textarea-default {*/
    /*    font-size: 16px;*/
    /*}*/
}

@media (max-width: 575.98px) {
    /*.card-table-key {*/
    /*    width: unset;*/
    /*    margin-bottom: 5px;*/
    /*}*/
    /*.card-table-row {*/
    /*    flex-direction: column;*/
    /*    margin-bottom: 20px;*/
    /*}*/
}

/*div#swal2-content {*/
/*    color: black;*/
/*}*/
.invalid-feedback {
    color: #dc3545 !important;
}

.upper-case {
    text-transform: uppercase;
}

.icon-info {
    cursor: pointer;
}

.mt-8 {
    margin-top: 8px;

}

.mt-10 {
    margin-top: 10px;

}

.h-45 {
    height: 45px;
}

.w-auto {
    width: auto !important;
}
.bg-white {
    background-color: #FFFFFF !important;
}
.cl-white {
    color: #FFFFFF !important;
}
.btn-text-normal {
    font-family: Helvetica-400;
    font-size: 16px;
    line-height: 1.5;
}
.swal2-warning .swal2-icon-content {
    color: #f8bb86 !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.status-bg-red  {
    background: #FF4B55 !important;
}
.btn-scroll-smooth {
    scroll-behavior: smooth;
}
