header .header, header .subheader, {
    background: #FFFFFF;
}

header.header {
    border-top: 1px solid #e4e5e8;
    box-shadow: 0px 20px 24px 4px rgba(0, 0, 0, 0.05);
}

.subheader-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .start, .center, .end {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .start {
        margin-right: 40px;

        .logo {
            margin-right: 40px;

            .text {
                font-family: Helvetica-300;
                font-size: 13px;
                line-height: 1.2;
                letter-spacing: -0.01em;
                color: #333333;
            }
        }
    }

    .center {
        display: flex;
        align-items: center;
        margin-right: 50px;
        width: 100%;

        form {
            width: 100%;

        }

        .dropdown-lang {
            margin-left: 30px;
            background: #E5EAFF;
            border-radius: 5px;
            font-family: Helvetica-400;
            font-size: 16px;
            line-height: 1.125;
            letter-spacing: 0.1px;
            padding: 11px 10px;

            .lang-icon {
                margin-left: 8px;
            }
        }

    }

    .end {
        .dropdown-notification {
            margin-right: 50px;
        }
    }
}

.subheader-body .search-input {
    background: #F5F8FF;
    border: 1px solid #E5EAFF;
    box-sizing: border-box;
    border-radius: 2px;
    height: 44px;
    font-family: Helvetica-400;
    font-size: 17px;
    line-height: 155%;
    color: #A5A7B0;
    padding: 9px 20px;
    width: 100%;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    background: none;
    border: none !important;
    cursor: pointer;
    margin: unset;
    padding: unset;
    min-width: auto;
    padding-right: 5px;

    &:hover svg.down-arrow {
        transition-duration: 0.3s;
        transform: rotate(-180deg);
    }

    .dropdown-body {
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
            display: flex;
            align-items: center;
            font-family: Helvetica-400;
            font-size: 17px;
            line-height: 155%;
            color: #333333;
            margin-right: 9px;
        }

        svg {
            transition-duration: 0.3s;
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 306px;
    background: #FFFFFF;
    box-shadow: 0px 8px 26px -4px rgba(0, 0, 0, 0.08);
    //box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 24px 25px;
    z-index: 99999;
    //background: #6C6C6C;
    border-radius: 6px;
    top: 100%;
    .user-info {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-right: unset;
        .image {
            border: none;
            width: 56px;
            height: 56px;
        }
        .info .name {
            font-size: 17px;
        }
    }

    .user-info:last-child {
        margin-bottom: unset;
    }
    .dropdown-item-not-icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: Helvetica-400;
        font-size: 17px;
        line-height: 1.5%;
        margin-bottom: 0px;
        color: #333333;
        min-height: 20px;
        margin-left: 10px;
        white-space: nowrap;
        &:hover {
            svg path {
                fill: #1DC0BD;
            }
            color: #1DC0BD;
        }
    }

    .dropdown-item-custom {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: Helvetica-400;
        font-size: 17px;
        line-height: 1.5%;
        margin-bottom: 20px;
        color: #333333;
        min-height: 24px;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;

        img, svg {
            margin-right: 10px;
        }

        &:hover {
            svg path {
                fill: #1DC0BD;
            }
            color: #1DC0BD;
        }
    }

    .active {
        svg path {
            fill: #1DC0BD;
        }
        color: #1DC0BD;
    }
    .dropdown-item-custom:last-child {
        margin-bottom: 0px;
        //margin-bottom: 40px;
    }
    form {
        margin-bottom: unset;
    }

    .line {
        margin-top: 20px;
        height: 1px;
        border: none;
        background: #C3C8CC;
        margin-bottom: 20px;
    }
}

.dropdown-cities {
    display: block;
    .dropdown-cities-content {
        min-width: 230px;
    }
    &:hover .dropdown-cities-content {
        display: block;
    }
}
.dropdown-help {
    display: block;
    z-index: 1;
    .dropdown-body {
        svg {
            margin-left: 4px;
        }
    }

    &:hover .dropdown-help-content {
        display: block;
    }
}

.dropdown-notification {
    display: block;

    &:hover .dropdown-notification-content {
        display: block;
    }
}

.dropdown-user {
    display: block;

    .user-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
        margin-right: 20px;

        .image {
            width: 36px;
            height: 36px;
            border-radius: 50%;
            border: 2px solid #FF9C00;
            margin-right: 10px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;

            }
        }

        .info {
            display: flex;
            flex-direction: column;

            .name {
                font-family: Helvetica-400;
                font-size: 16px;
                line-height: 1.2;
                letter-spacing: 0.02em;
                color: #333333;
                white-space: nowrap;
            }

            .level {
                font-family: Helvetica-400;
                font-size: 14px;
                line-height: 1.5;
                color: #A5A7B0;
            }
        }

    }

    &:hover .dropdown-user-content {
        display: block;
    }
}

.dropdown-lang {
    display: block;

    &:hover .dropdown-lang-content {
        display: block;
    }
}

.notification-badge {
    position: absolute;
    background: #FF4B55;
    border-radius: 50%;
    height: 16px;
    width: 16px;
    font-family: Helvetica-400;
    font-size: 9px;
    line-height: 1.1;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    top: -1px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-body {
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 13px;

    .menu-items {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        cursor: pointer;
        .menu-item, .dropdown-help .dropdown-body {
            font-family: Helvetica-400;
            font-size: 17px;
            line-height: 1.5;
            color: #333333;
        }
        .menu-item {
            margin-right: 44px;
            &:hover {
                color: #1DC0BD;
            }
        }
        .menu-item:last-child {
            margin-right: unset;
        }

    }
}

footer.footer {
    background: #333333;
    .footer-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 90px;
        padding-bottom: 90px;
        gap: 20px;
        .block-info {
            .text {
                padding-top: 20px;
                font-family: Helvetica-400;
                font-size: 17px;
                line-height: 1.5;
                color: #E5E6E9;
            }
            .socials {
                margin-top: auto;
                margin-bottom: 0;
                .title {
                    font-family: Helvetica-400;
                    font-size: 20px;
                    line-height: 1.5;
                    color: #FFFFFF;
                }
                .social-items {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                }
                .social-item {
                    background: #05BCB9;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    margin-right: 10px;
                    transition: transform 0.1s ease-out;
                    &:hover,
                    &:focus {
                        transform: scale(1.02);
                    }

                }

                .social-item:last-child {
                    margin-right: unset;

                }
            }
        }
        .footer-block {
            display: flex;
            flex-direction: column;
            margin-right: 20px;


            .title {
                font-family: Helvetica-400;
                font-size: 20px;
                line-height: 1.5;
                color: #FFFFFF;
                margin-bottom: 16px;
            }
            .title-ad {
                margin-top: 49px;

            }
            .menu-items {
                display: flex;
                flex-direction: column;

                .menu-item {
                    font-family: Helvetica-400;
                    font-size: 17px;
                    line-height: 1.5;
                    color: #E5E6E9;
                    cursor: pointer;
                    margin-bottom: 12px;
                    &:hover {
                        color: #1DC0BD;
                    }
                }

                .menu-item:last-child {
                    margin-bottom: unset;
                }
            }
        }
        .block-info {
            width: 25%;
        }

        .block-support {
            align-items: end;
            p {
                display: flex;
                svg {
                    margin-right: 8px;
                }

            }
            .email,.phone {
                font-family: Helvetica-400;
                font-size: 20px;
                line-height: 1.5;
                color: #FFFFFF;
                margin-bottom: 4px;
                white-space: nowrap;
            }
            .phone {
                margin-top: 32px;
                cursor: pointer;
            }
            .text {
                font-family: Helvetica-400;
                font-size: 17px;
                line-height: 1.5;
                color: #E5E6E9;
            }
            .btn-default {
                margin-top: 33px;
            }
        }


    }
}

@media (max-width: 1199.98px) {
    /*.header-left .logo {*/
    /*    margin-right: 50px;*/
    /*}*/
    /*.header-menu-items .header-menu-item {*/
    /*    margin-right: 40px;*/

    /*}*/
}

@media (max-width: 991.98px) {


}

@media (max-width: 767.98px) {

}

@media (max-width: 575.98px) {

}

@media (max-width: 540.98px) {

}

@media (max-width: 400.98px) {

}

@media (max-width: 360.98px) {

}
